<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Angular CRUD</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-secondary" routerLink="/login">Logout</button>
        </div>
      </div>
  </nav>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Employee Record Management</h1>
    <p class="col-md-8 fs-4">You can Create, Add, Edit, Delete records of Employees using Angular 12</p>
    <a class="btn btn-primary btn-lg" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickAddEmployee()">Add Employeee</a>
  </div>
</div>
  <!--Table show here-->
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email ID</th>
              <th scope="col">Mobile No</th>
              <th scope="col">Salary</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of allEmployeeData">
            <td>{{data.id}}</td>
              <td>{{data.firstName}}</td>
              <td>{{data.lastName}}</td>
              <td>{{data.email}}</td>
              <td>{{data.mobile}}</td>
              <td>{{data.salary}}</td>
              <td>
                  <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEditEmployee(data)">Edit</button> &nbsp;
                  <button class="btn btn-danger" (click)="deleteEmployee(data)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-group mb-3">
                  <label>First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" id="" placeholder="Enter First Name">
                </div>
                <div class="form-group mb-3">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="" formControlName="lastName" placeholder="Enter Last Name">
                  </div>
                  <div class="form-group mb-3">
                    <label>Email</label>
                    <input type="text" class="form-control" id="" formControlName="email" placeholder="Enter Email ID">
                  </div>
                  <div class="form-group mb-3">
                    <label>Mobile Number</label> 
                    <input type="text" class="form-control" id="" formControlName="mobile"  placeholder="Enter Mobile Number">
                  </div>
                  <div class="form-group mb-3">
                    <label>Salary</label>
                    <input type="text" class="form-control" id="" formControlName="salary" placeholder="Enter Salary">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addEmployee()">Add details</button>
          <button *ngIf="showEdit" type="button" class="btn btn-primary" (click)="updateEmployee()">Update details</button>
        </div>
      </div>
    </div>
  </div>